<ion-header>
  <ion-navbar>
    <ion-title>Datos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card center>
    <ion-card-header>
      Necesitamos más información 
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label fixed>Nombre(s):</ion-label>
          <ion-input type="string"[ngModel]="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Apellidos:</ion-label>
          <ion-input type="string"[ngModel]="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Código de estudiante:</ion-label>
          <ion-input type="number"[ngModel]="codigo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Carrera:</ion-label>
          <ion-input type="text"[ngModel]="carrera"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Semestre:</ion-label>
          <ion-input type="number"[ngModel]="semestre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Edad</ion-label>
          <ion-input type="number"[ngModel]="edad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Género:</ion-label>
          <ion-input type="text"[ngModel]="genero"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Estatura en cm</ion-label>
          <ion-input type="number"[ngModel]="estatura"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Peso en kg:</ion-label>
          <ion-input type="number"[ngModel]="peso"></ion-input>
        </ion-item>
      </ion-list>
      
      <div padding-left>
        <ion-button size="small" [routerLink]="['/login']" (click)="guardar()">Guardar Datos</ion-button>
      </div>
    
    </ion-card-content>
  </ion-card>
</ion-content>